$sub-color: grey;
$main-color: black;

.custom-input {
    background: none;
    background-color: #F2ECE4;
    color: $sub-color;
    font-size: 18px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    margin: 10px 0;

    &:focus {
      outline: none;
    }
}
textarea {
  resize: none;
}

