.actions-table{
  flex: 1;
  padding: 0 15px;
  text-align: center;
  border-collapse: collapse;
  border: 3px solid #ddd;
  background-color:#F2ECE4 ;

}

.actions-main-container{
    display: flex;
}

.header {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04ADBF;
    color: white;
  }


